<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<p>You currently have
				<%= pluralize(@user.errors.count, "error") %>
				keeping your form from submitting </p>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.label :username, "Your Username Here" %>
	<%= f.text_field :username, placeholder: "Your Username Here" %><br>
	<%= f.label :email %>
	<%= f.email_field :email, value: "example@example.com" %><br>
	<%= f.label :password %>
	<%= f.password_field :password %><br>
	<%= f.submit %>
<% end %>